*{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding: 0px;
margin:0px ;
text-align:justify ;
box-sizing: border-box;}
 
body
{
    background-color: #ededed;
}
p
{
    font-size:1em;
    line-height: 1.5em;
}
a
{
    text-decoration:none ;
    color: #000;
}

header,footer
{
    width:100%;
    padding:20px 0px;
    background: url(image/header.jpg);
    box-shadow:0px 0px 15px #666 
}
header
{ 
    border-bottom:2px solid #ededed;
    height :120px
}
header h1 
{
    color:white;
    font-size: 1.5em;
    width:90%;
    margin:0 auto;
}
footer
{
    width: 100%;
    height: 100%;
    border-top:2px solid #eee ;
    background : url(D:\titre pro\titre pro max\projects\cv 2\image\header.jpg);
    background-size : auto 100%;
    background-repeat : no-repeat;
}
footer p
{
    width:90%;
    margin:0 auto;
    text-align: center;
}
footer a
{
    color: #eee;
}

/*section*/

section
{
    display: flex ;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin : 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #eee;
}

section h2
{
    margin:20px 0;
    width:90%;
}

section > div{
    width: 90%;
}
.photo 
{
    text-align: center;
}

.photo img 
{ 
    width: 150px;
    height: 150px;
    border: 3px solid #eee;
    box-shadow: 0px 0px 10px #666;
    border-radius:50%;
    margin-top: -80px;
}

.prez{
    border-bottom: 2px ;
}
.prez a
{
    display: block;
    text-align: center;
    padding : 10px;
    margin:10px auto 30px auto;
    color: #eee;
    background-color: #aeb;
    box-shadow: 0px 0px 10px #eee;
    border-radius:5px; 
}

.contact
{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
}
.contact p :first-child
{
    flex: 0 0 40%;
}
.contact p:last-child
{
    flex:0 0 60%
}
.camp
{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.camp p
{
    flex: 0 0 40%;
}
.conteneur-barre
{
    flex: 0 0 30%;
    border-radius: 5px;
    background-color: red;
}

.c20
{
    width: 98%;
    background-color: green;
}


.c30
{
    width: 40%;
    background-color: green;
}

.c40
{
    width: 35%;
    background-color: green;
}
.c50
{
    width: 95%;
    background-color: green;
}
.c80  /* html*/
{
    width: 90%;
    background-color: green;
}

.c110  /* boot*/
{
    width: 98%;
    background-color: green;
}


.c120  /* boot*/
{
    width: 98%;
    background-color: green;
}
    

.c90 /* js*/
{
    width: 50%;
    background-color: green;
}
.c95 /* php*/
{
     width: 50%;
     background-color: green;
}

.c100 /*phs*/
{
    width: 35%;
    background-color: green;}
    
.camp2
{
display: flex;
flex-flow: row wrap;
justify-content: space-between;}

.barre{display: block;
       height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;} 
}
.conteneur-barre2
{
    flex: 0 0 100%;
    height : 0.5em;
    margin-bottom:0.25em;
    border-radius :5%;
    background-color: red;
}
.interet
{
display: flex;
flex: 0.1 25%;
flex-flow: column wrap;
align-items: center;
margin-bottom: 20 px;
}

.projet
{
display: flex;
flex: 0.1 25%;
flex-flow: column wrap;
align-items: center;
margin-bottom: 20 px;
}
.interet img
{
width: 80px ;
height: 80px;
border-radius: 50%;
box-shadow: 0px 0px 15px;
}
@media screen and (min-widht:980px){
    section{
        width: 80%;
        box-shadow: 0px 0px 10px red;
    }
a:hover{
    color: darkred;
}
header h1 {
    width: 80%;
}
.prez, .contact{
    flex: 0 0 45%;
}
.prez{
    border-bottom:none;
    border-right: 2px solid blueviolet;
    padding-right :20px;
    margin-left : auto;
}
.contact
{
    padding-left:20px ;
    margin-right: auto;
}

.prez a
{
border:2px solid transparent;
}

.prez a :hover{
color:#7e865b;
background-color: tomato;
border: 2px solid #6e5f4b;
box-shadow: 0px 0px 20px #333;
} 

h2 {text-decoration: underline;}
 
